* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Main Content Styling */
.main-content{
    flex-grow: 1;
    padding: 40px;
    background-color: #f9fbfd;
    /* max-width: 700px; */
    overflow-y: auto; /* Enable scrolling for main content */
    margin-left: 15vw; /* Remove the offset from the sidebar */
    overflow-y: auto; /* Enable scrolling for main content */
    flex: auto;
}

.main-content h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

hr {
    border: 1px solid #eee;
    margin: 20px 0;
}

/* Form Styling */
.connect-bank-form {
    width: 100%;
    margin: 0 auto;
}

.connect-bank-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.connect-bank-form p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ensure there is space between form elements */
    width: 70%;
}

.form-group {
    display: flex;
    flex-direction: column; /* Align label and input vertically */
}

.form-group label{
    margin-bottom: 7px;
}

/* Adjust Input Field Sizes */
input[type="text"],
input[type="number"],
select {
    width: 100%; /* Ensure it takes full width */
    padding: 15px; /* Increase padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px; /* Increase font size for better readability */
}

.account-number {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between input fields and hyphens */
}

.account-number input[type="number"] {
    width: 50px; /* Set width to fit exactly 4 characters */
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Button Styling */
button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0072ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #005ecb;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #005bb5;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}

.login-link a {
    color: #0072ff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}